/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Importar Bootstrap y personalizar estilos adicionales
// Importar Bootstrap y personalizar estilos adicionales
@import "bootstrap";


body {
  background-color: #f8f9fa;
}

.container {
  max-width: 720px;
}

.list-group-item {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  color: #ffffff;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: #ffffff;
}

/*  igualar tamaño de botones */
.btn-custom-size {
  width: 80px; 
  height: 36px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem; 
}

.form-control {
  border-radius: 0.25rem;
  box-shadow: none;
}
